PORT=5001
MONGO_URI=mongodb+srv://abishekabigd2003_db_user:<YOUR_PASSWORD>@cluster0.oq4a6dp.mongodb.net/inventory_db?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=your_jwt_secret_here
NODE_ENV=production

# Nodemailer Email Configuration
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=your-email@gmail.com
EMAIL_PASS=your-app-password
EMAIL_FROM=NovaStock IMS <your-email@gmail.com>
