PORT=5001
MONGO_URI=<MongoDB Atlas Connection String>
JWT_SECRET=your_jwt_secret_here
NODE_ENV=production

# Nodemailer Email Configuration
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=your-email@gmail.com
EMAIL_PASS=your-app-password
EMAIL_FROM=NovaStock IMS <your-email@gmail.com>
